@import "../resources/Fonts/AktivGroteskCd/style.scss";
@import "../resources/Fonts/KomikaAxis/style.scss";
@import "../resources/Fonts/AddressSansPro/style.scss";
@import "./variables.scss";

html,
body {
  width: 100%;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  background-color: $black;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.container {
  width: 80%;
  max-width: 1280px;

  @media (max-width: 1024px) {
    width: 90%;
  }
}
